<section id="temperatura" class="">
    <div class="overlay py-5">
        <h1 class="text-center py-5" style="color:white;">Fuerza</h1>
        <div class="col-lg-15 col-md-9 col-11 mx-auto">
            <div style="width: 90%; height: 90%;">
                <h3 style="color: white;">Realtime</h3>
                <canvas id="realtimeFuerza">{{ chartTemp }}</canvas>
                <h6 class="text-center" style="color: white;">{{nombreAtletaGrafica}}</h6>
            </div>            
        </div>
    </div>
</section>