<app-navigation-logged-in></app-navigation-logged-in>
<section id="crearCuenta" class="h-100 py-5">
    <img src="assets/Imagenes/fondo1.jpg">
    
    <div class="overlay py-5">
        <h1 class="text-center py-5">Perfil</h1>
    
        <div class="col-lg-7 col-md-10 col-11 mx-auto pb-5">
            <form class="formulario">
                <div class="form-row row">
                    <!--Nombre-->
                    <div class="form-group col-md-6">
                        <input [(ngModel)]='atleta.nombre' type="text" name="nombre" class="form-control" placeholder="Nombre">
                    </div>
                    <!--Apellido-->
                    <div class="form-group col-md-6">
                        <input [(ngModel)]='atleta.apellido' type="text" name="apellido" class="form-control" placeholder="Apellido">
                    </div>
                </div>

                <div class="form-row row">
                    <!--Edad-->
                    <div class="form-group col-md-3">
                        <input [(ngModel)]='atleta.edad' type="number" name="edad" class="form-control" placeholder="Edad">
                    </div>
                    <!--Genero-->
                    <div class="form-group col-md-3">
                        <div class="btn-group dropend">
                        <br/>
                            <label for="selectorGenero" style="color: white;">Genero:</label>
                            <select name="selectorGenero" id="selectorGenero" [(ngModel)]="atleta.genero" >
                                <option class="form-select form-select-lg mb-"  [disabled]="true" [value]="atleta.genero" *ngFor="let valor of lista">{{valor}}</option>
                            </select>
                        </div>
                    </div>
                    
                    <!--Peso en libras-->
                    <div class="form-group col-md-3">
                        <input [(ngModel)]='atleta.peso_lb' type="number" name="peso_lb" class="form-control" placeholder="Peso en libras">
                    </div>
                    <!--Estaturea en cm-->
                    <div class="form-group col-md-3">
                        <input [(ngModel)]='atleta.estatura_cm' type="number" name="estatura_cm" class="form-control" placeholder="Estatura en centimetros">
                    </div>
                </div>
                <div class="form-row row">
                    <!--Correo-->
                    <div class="form-group col-md-6">
                        <input [(ngModel)]='atleta.email' type="email" name="email" class="form-control" placeholder="Email" [disabled]="true">
                    </div>
                    <!--Contraseña-->
                    <div class="form-group col-md-6">
                        <input [(ngModel)]='atleta.contrasena' type="password" name="contrasena" class="form-control" placeholder="Contraseña">
                    </div>
                </div>
                <div class="form-row row">
                    <!--COUSH-->
                    <div class="form-group col-md-6">
                        <input [(ngModel)]='atleta.iduser_couch' type="number" name="iduser_couch" class="form-control" placeholder="Id del couch">
                    </div>
                </div>
            </form>
            <div class="text-center">
                <ul class="section-btn alinear" style="margin-top: 1%;">
                    <a><span data-hover="Actualizar Couch" (click)="actualizarCouch()">Actualizar Couch</span></a>
                </ul>  
                <ul class="section-btn alinear">
                    <a><span data-hover="Actualizar Datos" (click)="actualizar()">Actualizar Datos</span></a>
                </ul>
            </div>
        </div>
    </div>
</section>