<!--<app-navigation-logged-in></app-navigation-logged-in>-->
<section id="crearCuenta" class="h-100 py-5">
    <img class="fondo" src="assets/Imagenes/fondo1.jpg">

    <div class="overlay py-5">
        <h1 id="titulo"class="text-center mt-5">Mi Rendimiento Personal</h1>
        <div class="row">
          <div class="col">
            <h4 class="text-center">Ritmo</h4>
            <canvas id="realtimeRitmo">{{ chartRitmo }}</canvas>
          </div>
          <div class="col">
            <h4 class="text-center">Temperatura</h4>
            <canvas id="realtimeTemperatura">{{ chartTemperatura }}</canvas>
          </div>
          <div class="col">
            <h4 class="text-center">Oxigeno</h4>
            <canvas id="realtimeOxigeno">{{ chartOxigeno }}</canvas>
          </div>
        </div>
        
    </div>
    
</section>
