<app-navigation></app-navigation>  
<section id="home">
    <img src="assets/Imagenes/fondoHome.jpg">

    <div class="container" style="height: 500px;" >
        <div class="row">
            <div class="home-text " >
                <h1>Respiracion</h1>
                <app-real-time></app-real-time>
            </div>
        </div>
    </div>
    <div class="overlay">

    </div>
</section>
<div class="container" style="text-align: center; color: white;">
    <h6>Universidad de San Carlos de Guatemala - 2021</h6>
</div>