<app-navigation-logged-in></app-navigation-logged-in>
<section id="crearCuenta" class="h-100 py-5">
    <img class="fondo" src="assets/Imagenes/fondo1.jpg">
    <div class="overlay py-5">
        <h1 class="text-center mt-5"></h1>
        <div class="container">
            <div class="row">
                <div class="list-menu col">
                    <a class="alineacion">
                        <h2>Veces que se ha rendido: {{vecesRendido}}</h2>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="list-menu col">
                    <a class="list-new-item">
                        <h2>Id Test</h2>
                    </a>
                    <a class="list-new-item" *ngFor='let list of objRes'>
                        <p>{{list.idTest}}</p>
                    </a>
                </div>
                <div class="list-menu col">
                    <a class="list-new-item">
                        <h2>#Repeticiones</h2>
                    </a>
                    <a class="list-new-item" *ngFor='let list of objRes'>
                        <p>{{list.repeticiones}}</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>