<section id="velocidad" class="">
    <div class="overlay">
        <h1 class="text-center" style="color:white;">RealTime</h1>
        <div class="">
            <div style="width: 90%; height: 90%;">
                <canvas id="realTimeRespiracion">{{ chartRespiracion }}</canvas>
                <h6 class="text-center" style="color: white;">{{nombreAtletaGrafica}}</h6>
            </div>     
            <div class="container">
                <img ([ngModel])="rutaImagen" alt="">
            </div>       
        </div>
    </div>
</section>