<app-navigation-logged-in></app-navigation-logged-in>
<section id="crearCuenta" class="h-100 py-5">
    <img class="fondo" src="assets/Imagenes/fondo1.jpg">
    <div class="overlay py-5">
        <h1 class="text-center mt-5">Historial</h1>
        <div class="container">
            <div class="row">
                <div class="list-menu col">
                    <a class="list-new-item" >
                        <h2>Fecha</h2>
                    </a>
                    <a class="list-new-item" *ngFor='let list of objRes?.respuesta'>
                        <p>{{list.fecha.split('T',1)}}</p>
                    </a>
                </div>
                <div class="list-menu col">
                    <a class="list-new-item">
                        <h2>Dato</h2>
                    </a>
                    <a class="list-new-item" *ngFor='let list of objRes?.respuesta'>
                        <p>{{list.dato}}</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
