<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation" wfd-id="654">
    <span class="navbar-toggler-icon" wfd-id="460"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02" wfd-id="450">
    <ul class="navbar-nav mr-auto" wfd-id="452">
      <li class="nav-item active" wfd-id="458">
        <a class="nav-link" href="#">Home
          <span class="sr-only" wfd-id="459">(current)</span>
        </a>
      </li>
      <li class="nav-item" wfd-id="457">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item" wfd-id="456">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item" wfd-id="455">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item dropdown" wfd-id="453">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu" wfd-id="454">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" wfd-id="451">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" wfd-id="525">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit" wfd-id="653">Search</button>
    </form>
  </div>
</nav>
