<app-navigation-logged-in></app-navigation-logged-in>
<section id="crearCuenta" class="h-100 py-5">
    <img src="assets/Imagenes/fondo1.jpg">
    
    <div class="overlay py-5">
        <h1 class="text-center py-5">Oxigeno en la sangre</h1>
        <div class="col-lg-15 col-md-9 col-11 mx-auto pb-5">
            <div style="width: 90%; height: 90%;">
                <h1>Realtime</h1>
                <canvas id="realtime">{{ chart }}</canvas>
            </div>            
        </div>
    </div>
</section>



