<app-navigation></app-navigation>
<section id="home">
    <img src="assets/Imagenes/fondo3.jpg">

    <div class="container">
        <div class="row pt-5">
            <div class="home-text col-md-8 col-sm-12 mt-5">
                <h1>La mejor aplicación fitness</h1>
                <p>Mide en todo momento tus signos vitales para evitar excederte.</p>
                <ul class="section-btn">
                    <a href="#info"><span data-hover="Información">Información</span></a>
                </ul>
            </div>
        </div>
    </div>
    <div class="overlay">

    </div>
</section>

<section id="info">
    <div class="container py-5">
        <div class="row py-5 my-5">
            <div class="info-text text-center py-5 ">
                <h3 class="pb-3">Laboratorio ACE2 Grupo 26</h3>
                <h2>201603095	Abner Fernando Cardona Ramírez</h2>
                <h2>201602633	Edgar Jonathan Arrecis Martinez</h2>
                <h2>201602907	Bryan Moises Gonzalez Fuentes</h2>
                <h2>201213132	Carlos David Ramirez Altan </h2>
                <h2>201314064	Romario David Castillo Echeverría</h2>
            </div>
        </div>
    </div>
</section>