<app-navigation-logged-in></app-navigation-logged-in>
<section id="crearCuenta" class="h-100 py-5">
    <img src="assets/Imagenes/fondo1.jpg">
    
    <div class="overlay py-5">
        <h1 class="text-center py-5" style="margin-bottom: 0px;">Perfil</h1>
        <p style="color: white; text-align: center;">{{this.rol}}</p>
    
        <div class="col-lg-7 col-md-10 col-11 mx-auto pb-5">
            <form class="formulario">
                <div class="form-row row">
                    <!--Nombre-->
                    <div class="form-group col-md-6">
                        <input [(ngModel)]='usuario.nombre' type="text" name="nombre" class="form-control" placeholder="Nombre">
                    </div>
                    <!--Apellido-->
                    <div class="form-group col-md-6">
                        <input [(ngModel)]='usuario.apellido' type="text" name="apellido" class="form-control" placeholder="Apellido">
                    </div>
                </div>
                <div class="row" style="margin-bottom: 2%;"></div>
                <div class="form-row row">
                    <!--Edad-->
                    <div class="form-group col-md-3">
                        <input [(ngModel)]='usuario.edad' type="number" name="edad" class="form-control" placeholder="Edad">
                    </div>
                    <!--Genero-->
                    <div class="form-group col-md-3">
                        <div class="btn-group dropend">
                        <br/>
                            <label for="selectorGenero" style="color: white;">Genero:</label>
                            <select name="selectorGenero" id="selectorGenero" [(ngModel)]="usuario.genero" >
                                <option class="form-select form-select-lg mb-"  [disabled]="true" [value]="usuario.genero" *ngFor="let valor of lista">{{valor}}</option>
                            </select>
                        </div>
                        <div class="btn-group dropend">
                            <br/>
                                <label for="selectorCouch" style="color: white;">Tipo:</label>
                                <select name="selectorCouch" id="selectorCouch" [(ngModel)]="rol" >
                                    <option class="form-select form-select-lg mb-"  [disabled]="true" [value]="valor" *ngFor="let valor of listaCouch">{{valor}}</option>
                                </select>
                            </div>
                    </div>
                    
                    <!--Peso en libras-->
                    <div class="form-group col-md-3">
                        <input [(ngModel)]='usuario.peso_lb' type="number" name="peso_lb" class="form-control" placeholder="Peso en libras">
                    </div>
                    <!--Estaturea en cm-->
                    <div class="form-group col-md-3">
                        <input [(ngModel)]='usuario.estatura_cm' type="number" name="estatura_cm" class="form-control" placeholder="Estatura en centimetros">
                    </div>
                </div>
                <div class="row" style="margin-bottom: 2%;"></div>
                <div class="form-row row">
                    <!--Correo-->
                    <div class="form-group col-md-6">
                        <input [(ngModel)]='usuario.correo' type="email" name="email" class="form-control" placeholder="Email" [disabled]="true">
                    </div>
                    <!--Contraseña-->
                    <div class="form-group col-md-6">
                        <input [(ngModel)]='usuario.contrasena' type="password" name="contrasena" class="form-control" placeholder="Contraseña">
                    </div>
                </div>
                <div class="row" style="margin-bottom: 2%;"></div>
                <div class="form-row row">
                    <!--COUCH-->
                    <div class="form-group col-md-3">
                        <div class="btn-group dropend">
                        <br/>
                            <label style="margin-left: 5px;" for="selectorListaCouch" style="color: white;">Couch:</label>
                            <select class="dropdown-menu show" name="selectorListaCouch" id="selectorListaCouch" [(ngModel)]="usuario.iduser_couch" >
                                <option class="form-select form-select-lg mb-" [value]="null">Sin Entrenador</option>
                                <option class="form-select form-select-lg mb-" [value]="valor.iduser" *ngFor="let valor of listaDeCouchs">{{valor.nombre}} {{valor.apellido}}</option>
                            </select>
                        </div>
                    </div>
                    <!--
                    <div class="form-group col-md-6">
                        <input [(ngModel)]='usuario.iduser_couch' type="number" name="iduser_couch" class="form-control" placeholder="Id del couch">
                    </div>
                    -->
                </div>
            </form>
            <div class="text-center">
                <!--
                <ul class="section-btn alinear" style="margin-top: 1%;">
                    <a><span data-hover="Actualizar Couch" (click)="actualizarCouch()">Actualizar Couch</span></a>
                </ul>
                -->  
                <ul class="section-btn alinear">
                    <a><span data-hover="Actualizar Datos" (click)="actualizar()">Actualizar Datos</span></a>
                </ul>
            </div>
        </div>
    </div>
</section>
