
<header>
    <nav class="navbar navbar-expand-lg navbar-light py-3 fondo fixed-top">
        <div class="container">
          <a class="navbar-brand" href="#">TVE APP</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars text-light" aria-hidden="true"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto float-end text-end">
              <li class="nav-item">
                <a class="nav-link ms-5" href="#" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link ms-5" href="#" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Sign In</a>
              </li>
              <li class="nav-item">
                <a class="nav-link ms-5" href="#" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Sign Up</a>
              </li>              
            </ul>
          </div>
        </div>
    </nav>
</header>
<script >
  $(function () {
  $(window).scroll(function () {
    console.log("scrollllll")
    var $nav = $(".fondo");
    $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
  });
});
</script>